body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "aside"
        "content"
        "footer";
}
aside{
    grid-area: aside;
    width: 1fr;
    padding: 10px;
}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
}
article{
    grid-area: article;
}
main{
    width: 100%;
}
a{
    padding: 5px;
    border: 20px;
    width: 1fr;
    display: block;
}
video{
    position: relative;
    padding: 10px;
    width: 50%;
    object-fit: cover;
    overflow: hidden;
}
@media (min-width: 1000px){ /*Curiosamente si lo hago al reves (con el body de fuera dentro de un max-width) no me funciona*/
    body{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "header header"
            "aside content"
            "footer footer";
    }
}