h1, h2, h3, h4, h5, h6{
    color: red;
    background-color: black;
}
table, th, td, tr{
    color: white;
    background-color: black;
}
p, li, ul{
    color: antiquewhite;
    background-color: black;
}

a{
    color: lightcoral;
    background-color: black;
}
a:link{
    color: crimson;
    background-color: black;;
}
a:visited{
    color: lightcoral;
    background-color: black;
}

article, section, header, footer{
    color: white;
    background-color: black;
}